@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

html {
  --background: #fff;
  --foreground: #000;
  --midground: #242424;
  --subtext: #6e6e6e;
  --links: #56abff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font: normal normal 1em/1 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.all-products {
  margin-top: 2.75em;
}

.actions {
  background-color: var(--midground);
  color: var(--background);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: 3em auto 3em;
  grid-template-areas: 
    "hamb logo cart"
    "srch srch srch"
    "menu menu menu";
}

.hamb {
  grid-area: hamb;
  /* justify-self: start; */
  background-color: transparent;
  color: var(--background);
  border: none;
}
.logo {
  grid-area: logo;
  justify-self: center;
}
.cart {
  grid-area: cart;
  /* justify-self: end; */
  background-color: transparent;
  color: var(--background);
  border: none;
}
.srch {
  grid-area: srch;
  background-color: var(--subtext);
  border: none;
  margin: 0 1em;
  border-radius: 0.25em;
  color: var(--background);
  padding: 0.5em;
  padding-left: 2em;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 0.5em -0.25em;
}
.srch::placeholder {
  color: #aaa;
}

.menu {
  grid-area: menu;
  padding: 0 1em;
}

.menu li {
  border-bottom: 1px solid var(--subtext);
}
.menu a {
  color: var(--background);
  display: block;
  text-align: center;
  line-height: 3;
}
.menu a:hover {
  background-color: var(--background);
  color: var(--foreground);
}

.toggle {
  display: none;
}






.product {
  text-align: center;
  line-height: 1.4;
  padding: 2em 1em 15em 1em;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.dark {
  background-color: var(--foreground);
  color: var(--background);
}
.light {
  background-color: var(--background);
  color: var(--foreground);
}

.iphone11pro {
  background-image: url(/img/iphone11pro.jpg);
}

.iphone11 {
  background-image: url(/img/iphone11.jpg);
}

.watch5 {
  background-image: url(/img/applewatch.jpg);
}



.product-name {
  font-size: 2em;
  font-weight: 500;
}
.product-slogan {
  font-size: 1.2em;
}
.product-subtext {
  color: var(--subtext);
  line-height: 2.2;
}
.product-links li {
  display: inline-block;
  margin: 0 0.5em;
}
.product-links a {
  color: var(--links);
}
.product-links a:after {
  content: ">";
  margin-left: 0.5em;
}


@media screen and (min-width: 900px) {
  /* .actions {
    background-color: lightgreen;
  } */

  .all-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    grid-template-columns: 3em auto 3em 3em;
    grid-template-areas: "logo menu srch cart";
  }

  .menu {
    text-align: right;
  }
  .menu li {
    display: inline-block;
    border-bottom: none;
  }
  .menu a {
    border-bottom: none;
    padding: 0 1em;
  }
  .srch {
    background-color: transparent;
    background-position-y: 0.125em;
  }
  .searching {
    width: 10em;
    background-color: #6e6e6e;
  }

  .hamb {
    display: none;
  }

  .toggle {
    display: block;
  }

}

@media screen and (min-width: 1400px) {

  .all-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}