@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

html {
  --background: #fff;
  --foreground: #000;
  --midground: #242424;
  --subtext: #6e6e6e;
  --links: #56abff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font: normal normal 1em/1 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.actions {
  background-color: var(--midground);
  color: var(--background);
}

.product {
  text-align: center;
  line-height: 1.4;
  padding: 2em 1em 15em 1em;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.dark {
  background-color: var(--foreground);
  color: var(--background);
}
.light {
  background-color: var(--background);
  color: var(--foreground);
}

.iphone11pro {
  background-image: url(/img/iphone11pro.jpg);
}

.iphone11 {
  background-image: url(/img/iphone11.jpg);
}

.watch5 {
  background-image: url(/img/applewatch.jpg);
}



.product-name {
  font-size: 2em;
  font-weight: 500;
}
.product-slogan {
  font-size: 1.2em;
}
.product-subtext {
  color: var(--subtext);
  line-height: 2.2;
}
.product-links li {
  display: inline-block;
  margin: 0 0.5em;
}
.product-links a {
  color: var(--links);
}
.product-links a:after {
  content: ">";
  margin-left: 0.5em;
}


@media screen and (min-width: 900px) {
  .actions {
    background-color: red;
  }

  .all-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {

  .all-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}